/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/




form label.error {display: inline-block !important;}
label.error {margin-top: 2px;text-transform: lowercase;}
label.error::first-letter {text-transform: uppercase;}